.content {
  display: flex;
  flex-direction: column;
}

.composition {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.title {
  display: inline-block;
}

.subtitle {
  text-align: center;
}

.ingredientComposition {
  display: flex;
  flex-direction: column;
  align-items: center;
}