.cardSize {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 208px;
  position: relative;
}

.cardImage {
  display: flex;
  height: 120px;
  cursor: pointer;
}

.cardTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 48px;
}

.cardTitleText {
  display: flex;
  align-self: start;
  text-align: center;
}

.cardPrice {
  display: flex;
  align-self: center;
}