
.grid {
display: flex;
flex-direction: column;
margin-top: 0;
margin-bottom: 0;
list-style-type: none;
}

.dragIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y:scroll;
  overflow-x: hidden;
  min-height: 80px;
  max-height: 464px;

}


.dragIcon::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    background-color: #2F2F37;
}

.dragIcon::-webkit-scrollbar-thumb {
    background-color:#8585AD;
}

.overflow {
  width: 100%;
  height: 100%;
}

.order {
display: flex;
justify-content:flex-end;
align-items: center;
}

.largeIcon {
  width: 33px;
  height: 33px;
  margin-left: 9.5px;
}

.gridDragIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gridDragIcon:last-of-type {
  margin-bottom: 0;
}