.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.register {
  display: flex;
}

.text {
  display: flex;
  align-self: center;
}

.button__newButton {
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    padding: 0;
    color: var(--colors-interface-accent);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: var(--common-transition);
}

.button__newButton:hover {
  color: var(--text-primary-color);
}